<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template </title>
</head>
<body>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Favorite Foods</a>
    <a href="#">Favorite Spots</a>
    <h1>{{ title }}</h1>
    <hr>
    <h2>กีฬาที่ชอบ</h2>
    <ol>
        <li>{{ Spots[0] }}</li>
        <li>{{ Spots[1] }}</li>
        <li>{{ Spots[2] }}</li>
    </ol>
</body>
</html>